@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* general */

* {
    font-family: "Ubuntu", sans-serif;
    color: #424551;
}

h1 {
    font-size: 72px;
    line-height: 93px;
}

h2 {
    font-size: 46px;
    line-height: 60px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    line-height: 42px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    color: #787A80;
    font-size: 18px;
    line-height: 27px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
    color: #787A80;
}

.h7 {
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 21px;
}

:root {
    --bg-height: calc(115vh);
    --shadow: 
    0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);
    --selected-shadow:     
    0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

p {
    margin-bottom: 0;
}

main {
    width: 100%;
}

.container-xxl {
    padding: 0 45px;
}

.button {
    border-radius: 4px;
    padding: 0 40px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.orange {
    color: #FF5A30;
}

.orange_btn {
    background-color: #FF5A30;
}

.block {
    padding: 120px 0;
    width: 100%;
}

.row {
    margin: 0;
}

input {
    width: 100%;
    background-color: rgba(244, 245, 246, 1);
    border: 1px solid rgb(215, 218, 221);
    border-radius: 4px;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 21px;
    transition: all .7s ease;
}

input:active,
input:hover, 
input:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid rgb(168, 171, 173);
}

/* header */

header .navbar,
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

header {
    padding: 20px 0;
}

header .nav-item {
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
    line-height: 25px;
    font-style: normal;
}

header .navbar-brand {
    margin-right: 60px;
}

/* block1 */

.block1.block {
    padding-top: 220px;
}

.block1 {
    background-image: url('../img/index/block1/bg-image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.block1 .info {
    width: 48.5%;
}

.block1 .info h4 {
    margin-bottom: 60px;
    font-weight: 100;
}

.block1 .info h1,
.block1 .info h4{
    color: white;
}

.block1 .buttons {
    margin-bottom: 180px;
}

.block1 .carousel-control-next, 
.block1 .carousel-control-prev {
    width: fit-content;
    margin: 0 32px;
}

.block1 .stroke_block {
    padding: 15px 18px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
}

.carousel-indicators {
    position: relative !important;
    right: inherit;
    width: fit-content;
    margin: 0;
}

.block1 .carousel-indicators [data-bs-target] {
    width: 178px;
    color: white;
    border-bottom: 1px solid white;
    order: 2;
    height: 1px;
}

.block1 .carousel-indicators h3 {
    color: white;
    opacity: 0.5;
    order: 1;
}

.block1 .carousel-indicators .active+h3{
    opacity: 1;
}

/* block2 */

.block2 h2,
.block2 h5 {
    text-align: center;
}

.block2 h2 {
    color: rgb(30, 33, 44);
}

.block2 h5 {
    margin-bottom: 60px;
}

.block2 .video_image {
    opacity: 0.5;
}

.block2 section:first-child {
    margin-bottom: 180px;
}

.block2 .info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.block2 .info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 285px;
}

.block2 .info h4 {
    color: rgb(30, 33, 44);
    font-weight: bold;
}

/* block3 */

.block3 {
    position: relative;
}

.block3 .white_block {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    z-index: 1;
}

.block3 .grey_block {
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: rgb(245, 245, 245);
    bottom: 0;
    z-index: 2;
}

.block3.block {
    padding: 0;
}

.block3 h3 {
    color: rgb(30, 33, 44);
    margin-bottom: 32px;
}

.block3 .content {
    padding: 48px 60px;
    border-radius: 4px;
    z-index: 3;
    background-color: white;
    box-shadow: var(--shadow);
}

.block3 form .input_block:nth-child(1),
.block3 form .input_block:nth-child(2) {
    width: 260px;
    margin-right: 24px;
}

.block3 form .input_block:nth-child(3){
    width: 414px;
    margin-right: 24px;
}

.block3 p {
    color: rgb(66, 69, 81);
}

.block3 .button {
    padding: 0 32px;
    line-height: 45px;
}

/* block4 */

.block4 {
    background-color: rgb(245, 245, 245);
    background-image: url('../img/index/block4/bg-image_block4.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.block4.block {
    padding-bottom: 80px;
}

.block4 h5 {
    margin-bottom: 60px;
}

.block4 .square {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all .7s ease;
    border: 1px solid rgba(229, 232, 237, 1);
}

.block4 .square:hover {
    background-image: url('../img/index/block4/square3.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: var(--selected-shadow);
}

.block4 .square:hover img{
    filter: brightness(0) invert(1);
}

.block4 .square:hover h4{
    color: white;
}

.block4 h4 {
    font-weight: bold;
}

.block4 .row {
    margin-bottom: 80px;
}

.text_btn_block h3{
    margin-right: 40px;
    text-align: center;
    font-weight: bold;
}

/* block5 */

.block5 section>.row {
    margin-bottom: 60px;
}

.block5 section .slider {
    margin-bottom: 80px;
}

.block5 .switches {
    transform: translateX(12px);
}

.block5 .switch {
    padding: 12px 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.block5 .switch:hover {
    background-color: #FF5A30;
}

.block5 .switch:hover img{
    filter: brightness(0) invert(1);
}

.block5 .slide {
    display: flex;
    justify-content: center;
}

.block5 .card {
    width: 390px;
    height: 440px;
    border: 0;
    box-shadow: var(--shadow);
    padding-bottom: 24px;
    position: relative;
    transition: all .7s ease;
}

.block5 .card:hover {
    box-shadow: var(--selected-shadow);
}

.block5 .card img {
    height: 78%;
    position: absolute;
    top: 0;
}

.block5 .card .card-body {
    padding: 0 20px;
    height: 22%;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
    transition: all .7s ease;
}

.block5 .slide:hover .card-body{
    height: 38%;
}

.block5 .slide .button {
    font-size: 14px;
    line-height: 44px;
    padding: 0 32px;
    margin-top: 50px;
    cursor: pointer;
    border: 1px solid #FF5A30;
    transition: all .7s ease;
}

.block5 .slide:hover .button{
    margin-top: 24px;
}

/* block6 */

.block6 {
    background-color: rgb(245, 245, 245);
    position: relative;
    z-index: 3;
}

.block6.block {
    padding-top: 80px;
    padding-bottom: 0;
}

.block6 .white_block {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    z-index: 1;
    background-color: white;
}

.block6 h2 {
    margin-bottom: 60px;
    color: rgba(30, 33, 44, 1);
}

.block6 .partners {
    margin-bottom: 180px;
}

.block6 .content_block {
    z-index: 10;
    width: 100%;
}

.block6 .content {
    margin-right: 135px;
}

.block6 .clients {
    overflow: hidden;
}

.block6 .clients .client img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.block6 .clients .client .text {
    color: rgba(66, 69, 81, 1);
}

.block6 .clients .client .name{
    font-weight: bold;
    color: rgba(30, 33, 44, 1);
}

.block6 .clients .client p {
    color: rgba(120, 122, 128, 1);
}

.block6 .switches {
    transform: translateY(-20px);
}

.block6 .switch.left {
    margin-right: 30px;
}

.block6 .content_block .img_block {
    width: 495px;
    z-index: 10;
}

.block6 .content_block .img_block .peoples {
    width: 100%;
}

/* block7 */

.block7 {
    position: relative;
    z-index: 2;
}

.block7 .bg_image {
    position: absolute;
    top: -300px;
    left: 0;
    width: 35%;
}

.block7 .row>* {
    padding-left: 0;
    padding-right: 0;
}

.block7 h2 {
    margin-bottom: 60px;
}

.block7 .diagrams {
    padding: 0 247px;
    width: 100%;
    margin-bottom: 180px;
}

.block7 .diagram_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block7 .diagram_block:nth-child(1) .diagram{
    border: 6.5px solid rgb(253, 224, 191);
}

.block7 .diagram_block:nth-child(2) .diagram{
    border: 6.5px solid rgb(252, 193, 221);
}

.block7 .diagram_block:nth-child(3) .diagram{
    border: 6.5px solid rgb(205, 219, 254);
}

.block7 .diagram {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.block7 .diagram .h7 {
    position: absolute;
}


.block7 .preview_news {
    margin-bottom: 80px;
}

.block7 .column1 .news_block {
    width: 98.3%;
}

.block7 .column2 .news_block {
    width: 96.6%;
}

.block7 .news {
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.block7 .news:hover {
    box-shadow: var(--selected-shadow);
    cursor: pointer;
}

.block7 .news:hover .info_block h4 {
    color: #FF5A30;
}

.block7 .news .info_block {
    padding: 24px;
}

.block7 .news .info_block h4{
    font-weight: bold;
}

.block7 .news .info div {
    padding: 0 12px;
    border-right: 1px solid rgba(120, 122, 128, 1);
}

.block7 .news .info div:first-child {
    padding-left: 0;
}

.block7 .news .info div:last-child {
    border-right: 0;
}

.block7 .news .info div p{
    color: rgba(120, 122, 128, 1);
}

.block7 .column2 .news_block:first-child {
    margin-bottom: 25px;
}

.block7 .text h6 {
    color: rgba(66, 69, 81, 1);
}

.block7 .column2 .news .info_block {
    padding-top: 16px;
}

/* block8 */

.block8 {
    background-image: url('../img/index/block8/bg_image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
}

.block8.block {
    padding: 80px 0;
}

.block8 form {
    width: 495px;
    padding: 48px 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(229, 232, 237, 1);
}

.block8 .input_block {
    margin-bottom: 20px;
    width: 100%;
}

.block8 input {
    width: 100%;
}

.block8 form .input_block:last-child input {
    padding-bottom: 34px;
}

.block8 form .check label .checkbox {
    display: none; 
    width: 20px;
    height: 20px;
}

.block8 form .check label .custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgb(168, 171, 173);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}

.block8 form .check label .checkbox:checked + .custom-checkbox {
    background-color: #FF5A30;
    border: 0;
}

.block8 form .check label .checkmark {
    display: none; 
}

.block8 form .check label .checkbox:checked + .custom-checkbox .checkmark {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.block8 form .check p {
    width: 80%;
    color: rgba(66, 69, 81, 1);
}

.block8 .button {
    padding: 0 32px;
}

/* footer */

footer {
    background-color: rgba(30, 33, 44, 1);
}

footer .row>* {
    padding-left: 0;
    padding-right: 0;
}

footer.block {
    padding: 80px 0;
}

footer .content {
    width: 495px;
}

footer .column1 {
    padding-top: 12px;
}

footer p,
footer h6 {
    color: rgb(165, 166, 171);
}

footer .logo {
    margin-right: 60px;
}

footer .icons .icon {
    margin-right: 16px;
}

footer input {
    background-color: rgb(57, 60, 70);
    border: 1px solid rgb(97, 99, 107);
    border-radius: 4px 0 0 4px;
    color: rgb(165, 166, 171);
}

footer .button {
    border-radius: 0 4px 4px 0;
}

footer h3 {
    color: white;
}

footer .row_content {
    margin-bottom: 50px;
}

footer .heart {
    width: 16px;
    height: 14px;
    margin: 0 4px;
}

footer .to_top{
    background-color: #FF5A30;
    border-radius: 4px;
    padding: 15px 12px;
}

footer span {
    color: white;
}

footer .comment {
    font-size: 12px;
}

footer .info h6 {
    margin-bottom: 4px;
}

footer .info h6:first-child {
    color: white;
    margin-bottom: 12px;
}

footer .info {
    padding-right: 125px;
}

footer .info_block {
    margin-bottom: 60px;
}

footer .address {
    word-break: break-all;
}

@media (max-width:1500px){
    .block1 .container-xxl {
        padding: 0 100px;
    }

    .block1 .info {
        width: 70%;
    }
}

@media (max-width:1200px){
    header .container-xxl {
        padding-left: 0;
        padding-right: 0;
    }

    .block1 .info {
        width: 80%;
    }

    .block1 .carousel-indicators [data-bs-target] {
        width: 150px;
    }

    .block7 .diagrams {
        padding: 0 100px;
    }
}

@media (max-width:1199px){
    .block6 .client {
        width: 70%;
        margin: 0 auto;
    }

    .block6 .switches {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .block6 .content {
        margin-right: 0;
        width: 100%;
    }

    .block6 .partners {
        margin-bottom: 100px;
    }

    .block6 .content .img_block  {
        width: 100%;
    }
}

@media (max-width:1100px){
    .block1 .container-xxl {
        padding: 0 150px;
    }

    .block1 .info {
        width: 90%;
    }

    .block3 .content {
        padding: 36px 48px;
    }

    .block7 .bg_image {
        top: -100px;
        width: 35%;
    }

    footer .logo {
        margin-right: 50px;
    }

    footer .content {
        width: 430px;
    }

    footer .info {
        padding-right: 90px;
    }
}

@media (max-width:991px){
    .block3 .content {
        padding-bottom: 20px;
    }

    footer .row_content {
        flex-direction: column;
    }

    footer .content {
        width: 100%;
    }

    footer .column1 {
        margin-bottom: 24px;
    }

    footer .info_block {
        display: flex;
        justify-content: space-between;
    }

    footer .info {
        padding-right: 0;
    }
}

@media (max-width:900px){
    .block1 .info {
        width: 100%;
    }

    .block1 .container-xxl {
        padding: 0 120px;
    }

    .block7 .column2 .news .info {
        flex-direction: column;
    }

    .block7 .column2 .news .info div {
        border: 0;
        padding: 0;
    }
}

@media (max-width:820px){
    h1 {
        font-size: 62px;
        line-height: 80px;
    }

    h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .block1 .container-xxl {
        padding: 0 100px;
    }
    
    .button {
        font-size: 14px;
    }

    .block1 .carousel-indicators [data-bs-target] {
        width: 130px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media (max-width:767px){
    .block2 .video_image_block {
        width: calc(100%-24px);
    }

    .block3 form {
        flex-direction: column;
    }

    .block3 form .input_block:nth-child(1),
    .block3 form .input_block:nth-child(2) {
        width: 100%;
        margin-right: 0;
    }

    .block3 form .input_block:nth-child(3){
        width: 100%;
        margin-right: 0;
    }

    .block4 .row div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .block4 .square {
        width: 80%;
    }

    .text_btn_block {
        flex-direction: column;
    }

    .text_btn_block h3{
        margin-right: 0;
    }

    .text_btn_block .button{
        width: 50%;
    }

    .block4 .row {
        margin-bottom: 0;
    }

    .block5 .switches {
        transform: translateX(0px);
    }

    .block6 .client {
        width: 90%;
    }

    .block6 .switches {
        width: 90%;
    }

    .block7 .diagram_block {
        margin-bottom: 20px;
    }

    .block7 .column2 .news .info {
        flex-direction: row;
    }

    .block7 .column2 .news .info div {
        padding: 0 12px;
        border-right: 1px solid rgba(120, 122, 128, 1);
    }

    .block7 .news .info div:first-child {
        padding-left: 0;
    }
    
    .block7 .news .info div:last-child {
        border-right: 0;
    }

    .block7 .column2 .news_block:first-child,
    .block7 .column1 .news_block {
        margin-bottom: 30px;
    }

    .block7 .preview_news {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .block7 .column1 .news_block,
    .block7 .column2 .news_block {
        width: 100%;
    }

    footer .info_block {
        flex-direction: column;
    }

    footer .info {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
    }

    footer .info:first-child {
        display: block;
    }

    footer .info h6:first-child {
        margin-bottom: 8px;
    }

    footer h6 {
        line-height: 20px;
        margin-right: 12px;
    }
}

@media (max-width:650px){
    .block1 .container-xxl {
        padding: 0;
        padding-left: 24px;
    }

    .block1 .info {
        width: 90%;
    }

    .block1 .carousel-indicators [data-bs-target] {
        width: 100px;
    }

    .block7 .diagrams {
        padding: 0;
    }

}

@media (max-width: 575px){
    footer .info_block {
        margin-bottom: 20px;
    }
}

@media (max-width:550px){
    h1 {
        font-size: 36px;
        line-height: 56px;
    }

    h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .block1 .buttons {
        margin-bottom: 100px;
        flex-direction: column;
    }

    .block1 .button {
        padding: 0 15px;
    }

    .button {
        padding: 0 20px;
    }

    .carousel-indicators {
        display: block;
    }

    .carousel-indicators div:nth-child(2){
        margin-left: 30px;
    }
    .carousel-indicators div:nth-child(3){
        margin-left: 60px;
    }
    .carousel-indicators div:nth-child(4){
        margin-left: 90px;
    }

    .block2 .container-xxl {
        padding: 0;
    }

    .block3 .container-xxl,
    .block4 .container-xxl,
    .block5 .container-xxl,
    .block6 .container-xxl,
    .block7 .container-xxl,
    .block8 .container-xxl,
    footer .container-xxl {
        padding: 0 12px;
    }

    .block7 .bg_image {
        top: 0px;
        width: 50%;
    }

    .block8 form {
        width: 100%;
    }

    .block8 form {
        padding: 28px 20px;
    }

    .block8 form .check p {
        width: 100%;
    }

    footer .info {
        display: block;
    }
}

@media (max-width:425px){
    h2 {
        font-size: 28px;
        line-height: 36px;
    }

    h3 {
        font-size: 24px;
        line-height: 36px;
    } 

    .block3 .content {
        padding: 36px 24px 20px 24px;
    }

    .block4 .square {
        width: 100%;
    }

    .text_btn_block .button{
        width: 90%;
    }

    .block7 .column2 .news .info,
    .block7 .news .info  {
        flex-direction: column;
    }

    .block7 .column2 .news .info div,
    .block7 .news .info div {
        border: 0;
        padding: 0;
    }
}

@media (max-width:375px){
    .block7 .bg_image {
        top: 0px;
        width: 70%;
    }

    footer .last_row {
        flex-direction: column;
        align-items: start !important;
        justify-content: start;
    }

    footer .last_row div:first-child {
        flex-direction: column;
        align-items: start !important;
    }

    footer .last_row div:first-child p:first-child {
        margin-left: 4px;
    }
}